<link rel="stylesheet" href="styles/drivers.css" />
<script defer src="js/tableSorting.js"></script>
<script defer src="js/tableFilters.js"></script>

<div class="filter-container">
  <input
    type="text"
    id="filterInput"
    class="name-filter"
    placeholder="Buscar por nombre de piloto..."
  />
  <div class="checkbox-container"></div>
</div>

<table class="drivers-table">
  <thead>
    <tr>
      <% const columns = Object.keys(drivers[0]); %> <% columns.forEach((column)
      => { %>
      <th
        data-column="<%= column %>"
        data-order="asc"
        class="<%= typeof drivers[0][column] === 'number' ? 'number' : 'text' %>"
      >
        <%= column.charAt(0).toUpperCase() + column.slice(1) %>
      </th>
      <% }); %>
    </tr>
  </thead>
  <tbody>
    <% drivers.forEach(driver => { %>
    <tr class="driver-row">
      <% columns.forEach(column => { %>
      <td
        data-column="<%= column %>"
        class="<%= typeof driver[column] === 'number' ? 'number' : 'text' %>"
      >
        <%= column === 'value' ? `$${driver[column] || 'N/A'}M` : driver[column]
        %>
      </td>
      <% }); %>
    </tr>
    <% }); %>
  </tbody>
</table>
